:root {
  --size-width: 1024px;
  --size-height: 768px;
  --background-color: var(--color-background);
  --color-foreground: white;
}

.container {
  position: relative;
  width: var(--size-width);
  height: var(--size-height);
  background-color: var(--color-background);
}

.content {
  width: var(--size-width);
  height: var(--size-height);
}

#panel-container .content {
  display: none;
}

#panel-container[state="on"] .content {
  display: block;
}

#Electricity {
  color: var(--color-foreground);
}

.bold {
  font-weight: bold;
}

#attitudeIndicator {
  display: block;
  margin: 0 auto;
}

svg {
  background-color: #1e1e1e;
  border-radius: 50%;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

input[type="range"] {
  width: 200px;
  margin: 20px 10px;
}

button {
  background-color: darkgrey;
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  font-size: 18px;
}

button:hover {
  background-color: #333;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

/* Flaps and EGT indicators side by side */
#statusIndicators {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

/* Flaps Bar and EGT Bar shared styles */
.flapBar,
.egtBar {
  width: 50px;
  height: 200px;
  background-color: black;
  border: 2px solid white;
  position: relative;
}

/* Flap Value */
.flapValue {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
}

/* Flap Target */
.flapTarget {
  width: 100%;
  height: 2px;
  background-color: magenta;
  position: absolute;
  bottom: 0;
}

/* EGT Value */
.egtValue {
  width: 100%;
  height: 50%;
  background-color: green;
  position: absolute;
  bottom: 0;
}

/* EGT Threshold */
.egtThreshold {
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: 60%;
}
