:root {
  --size-width: 1024px;
  --size-height: 768px;
  --background-color: var(--color-background);
  --color-foreground: white;
}

.container {
  position: relative;
  width: var(--size-width);
  height: var(--size-height);
  background-color: var(--color-background);
}

.content {
  width: var(--size-width);
  height: var(--size-height);
}

#panel-container .content {
  display: none;
}

#panel-container[state="on"] .content {
  display: block;
}

#Electricity {
  color: var(--color-foreground);
}

.bold {
  font-weight: bold;
}

#attitudeIndicator {
  display: block;
  margin: 0 auto;
}

svg {
  background-color: #1e1e1e;
  border-radius: 50%;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

/* Csúszkák stílusának javítása */
input[type="range"] {
  width: 150px;
  margin-right: 20px;
}

/* SVG vizuális középre igazítása */
#attitudeIndicator {
  display: block;
  margin: 0 auto;
}

input[type="range"] {
  width: 200px; /* Növelt szélesség */
  margin: 20px 10px; /* Kicsit több hely közöttük */
}

button {
  background-color: darkgrey;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
  padding: 15px 30px;
  font-size: 18px;
}

button:hover {
  background-color: #333;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
}
